In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('name_score.csv')

In [20]:
df.head()

    Name   Score
0     Tom     75
1     Sam     95
2  James      98
3    Tina     74
4   Becca     80

In [21]:
df.describe()

           Score
count   7.000000
mean   80.142857
std    14.111799
min    56.000000
25%    74.500000
50%    80.000000
75%    89.000000
max    98.000000

In [22]:
df.shape

(7, 2)

In [23]:
df.columns

Index(['Name ', 'Score'], dtype='object')

In [24]:
df.rename(columns={'Name ': 'Name'}, inplace=True)

In [25]:
df.columns

Index(['Name', 'Score'], dtype='object')

In [27]:
df

     Name  Score
0     Tom     75
1     Sam     95
2  James      98
3    Tina     74
4   Becca     80
5  Dessa      83
6    Lena     56

In [28]:
df.columns = [
  'name',
  'Score'
]